html, body {
	height: 100%;
}
body {
	margin: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
/* Navbar */
nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.nav-items {
	padding: 10px;
}
nav a {
	text-decoration: none;
	color: #0a0707;
}
nav a:hover {
	text-decoration: underline;
}
.apps {
	border-radius: 50%;
}
.apps:hover {
	background-color: #dfe1e5;
}
.tooltip {
	position: relative;
}
.tooltiptext {
	position: absolute;
	opacity: 0;
	font-size: 10px;
	width: 60px;
	border-radius: 10px;
	text-align: center;
	top: 50px;
	right: 50%;
	background-color: #a8a29a;
	padding: 8px;
	transform: translate(50%);
}
.tooltip:hover .tooltiptext {
	animation: tooltiptextOn 1s ease-in .5s forwards;
}
@keyframes tooltiptextOn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.photo-user {
	max-width: 36px;
	height: auto;
	border-radius: 50%;
}
/* Main content */
main {
	width: 90%;
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo {
	width: 250px;
	height: auto;
}
.main-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	margin: 30px 0;
	border: 2px solid #dfe1e5;
	border-radius: 24px;
	height: 44px;
}
.main-search:hover {
	box-shadow: 0px 2px 15px 1px #dfe1e5;
}
.main-search svg {
	padding: 0 10px;
}
.main-search input {
	border-width: 0;
	flex-grow: 2;
	height: 100%;
}
.main-search input:focus {
	outline-width: 0;
}
.search {
	display: flex;
}
.search p {
	margin: 10px;
	padding: 10px 20px;
	background-color: #f8f9fa;
	font-size: 15px;
	border: 1px solid #f8f9fa;
}
.search p:hover {
	border: 1px solid #dadce0;
}
/* Footer */
footer {
	background-color: #f2f2f2;
	position: fixed;
  	left: 0;
	border-top: 1px solid #dadce0;
  	bottom: 0;
  	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
footer a {
	text-decoration: none;
	padding: 20px;
	color: #70757a;
}
footer a:hover {
	text-decoration: underline;
}