html, body {
	height: 100%;
}
body {
	margin: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 600;
}
nav {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.nav-items {
	padding: 10px;
}
nav a {
	text-decoration: none;
	color: #0a0707;
}
nav a:hover {
	text-decoration: underline;
}
.apps {
	border-radius: 50%;
}
.apps:hover {
	background-color: #dfe1e5;
}
main {
	width: 40%;
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.logo {
	width: 45%;
}
.logo img {
	max-width: 100%;
	height: auto;
}
.main-search {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 30px 0;
	border: 2px solid #dfe1e5;
	border-radius: 24px;
	height: 44px;
}
.main-search:hover {
	box-shadow: 0px 2px 15px 1px #dfe1e5;
}
.main-search svg {
	padding: 0 10px;
}
.search {
	margin: 10px;
	padding: 10px 20px;
	background-color: #f8f9fa;
	font-size: 15px;
	border: 1px solid #f8f9fa;
}
.search:hover {
	border: 1px solid #dadce0;
}
footer {
	background-color: #f2f2f2;
	position: fixed;
  	left: 0;
	border-top: 1px solid #dadce0;
  	bottom: 0;
  	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}
footer a {
	text-decoration: none;
	padding: 20px;
	color: #70757a;
}
footer a:hover {
	text-decoration: underline;
}